header {
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    height: 100vh;
}
.flex-head {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h1 {
        width: 65%;
        font-size: 8rem;
        // width: 30%;
    }
}

.socials {
    margin-top: 120px;
}
.socials ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}


.linked {
    background: $orange;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
}

.tweet {
    background: $blue;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
}

.git {
    background: $green;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
}

.insta {
    background: $light-blue;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
}

.scroll {
    display: flex; 
}

.scroll button {
    text-decoration: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    background: $red;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
