.main-container {
    margin-top: 100px;
    background: lighten($black, 2%);
    border-radius: 10px;
    border: $border;
}

.hamburger {
    display: none;
    font-size: 5rem;
    justify-content: center;
    cursor: pointer;

    i {
        padding-top: 50px;

        &:hover,
        &:focus-within {
            color: $light-blue;
        }
    }
}

.navbar {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    // flex-wrap: wrap;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    z-index: 1;

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid transparent;
        padding-bottom: 3px;
        position: relative;
        
        h3, a {
            z-index: 10;
        }
    } 
}

.navbar li i {
    padding-top: 20px;
    font-size: 4rem;
}

.navbar li::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
}

.navbar li:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar li::before {
    content: " ";
    display: block;
    position: absolute;
    top: 1; right: 1; bottom: 1; left: 1;
    inset: -5px;
    border-radius: 10px;
    background: $light-blue;
    transition: transform 0.3s ease;
}

// About Me Section 

.about-container {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    flex-wrap: wrap;
    // height: 90vh;
}

.mugshot {
    width: 30%;
    // height: 300px;
    margin: 30px;
    border: 8px solid $light-blue;
    border-radius: 10px;
    // padding: 30px;

    img {
        filter: grayscale(80%);
        transition: filter 0.4s ease-in-out;
        
    }
}

.mugshot:hover img {
    filter: grayscale(40%);
    cursor: pointer;
}

.about-me {
    width: 50%;
    line-height: 1.5;
    margin: 30px;

    h2 {
        margin-bottom: 20px;
    }
}

// Skills Section

.skills {
    padding-top: 150px;
}

.skills-container {
    padding-top: 40px;
    width: 60%;
    margin: 0 auto;
    border: 8px solid #fff;
    border-radius: 30px;

    h2 {
        text-align: center;
    }
}

.skills-container ul {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 5rem;
    padding: 20px 0 30px;
    

    li {
        margin: 20px;
        width: 90px;
        height: 90px;
        line-height: 90px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.html {
    background: $red;
}

.css {
    background: $light-blue;
}

.js {
    background: $purple;
}

.react {
    background: $dark-grey;
}

.jquery {
    background: $yellow;
}

.sass {
    background: $blue;
}

.github {
    background: $lime;
}

.firebase {
    background: $brown;
}

// Work Section

.work {
    padding-top: 150px;

    h2 {
        text-align: center;
        padding-bottom: 50px;
    }
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 525px 525px 525px;
    
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 40px;
}

.links {
    display: flex;
    flex-wrap: wrap;
}

.links a {
    width: 125px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    background: $dark-grey;

    &:hover, 
    &:focus-within {
        border: 2px solid #fff;
    }
}

.display{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    img {
        width: 100%;
        border: $border;
        border-radius: 10px;
        line-height: 0.75;
        margin: 0 auto;
    }
}

.display:hover, 
.display:focus-within {
    opacity: 1;
}


.description ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 2.5rem;
    
    li {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        margin-right: 15px;
    }
}

.html-2 {
    background: $red;
}

.sass-2 {
    background: $blue;
}

.css-2 {
    background: $light-blue;
}

.react-2 {
    background: $dark-grey;
}

.firebase-2 {
    background: $brown;
}

.js-2 {
    background: $purple;
}

.mobile {
    background: $orange;
}

.github-2 {
    background: $lime;
}

// Contact Styles

.contact-container {
    display: flex;
    flex-direction: column;
    padding-top: 100px;

    h2 {
        padding-bottom: 20px;
        text-align: center;
    }
}

.contact-flex {
    display: flex;
    justify-content: center;
}

.contact-me {
    margin-top: 20px;

    ul {
        justify-content: space-between;
    }
}

// Form Styles

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
    padding: 30px;
}

label {
    margin: 5px;
}

.name,
.email {
    background: lighten($black, 2%);
    color: #fff;
    margin: 5px;
    height: 50px;
    display: flex;
    padding: 20px;
    border: none;
    border: 3px solid lighten(#fff, 2%);
    border-radius: 5px;
}

.textarea-2 {
    background: lighten($black, 2%);
    color: #fff;
    resize: none;
    height: 200px;
    margin: 5px;
    padding: 20px;
    border: 3px solid lighten(#fff, 2%);
    border-radius: 5px;
}

.button-2 {
    display: inline-block;
    background-color: $dark-grey;
    border: 2px solid transparent;
    width: 125px;
    padding: 10px;
    border-radius: 8px;
    margin: 10px auto;
    font-family: 'Helveitca Neue', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover, 
    & :focus-within {
        border: 2px solid #fff;
    }
}

footer {
    text-align: center;
    padding: 10px;
}