.main-container {
    margin-top: 100px;
    background: lighten($black, 2%);
    border-radius: 10px;
    border: $border;
}


.navbar {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: 700;

    li {
        border: 2px solid transparent;
        padding-bottom: 3px;
        &:hover,
        &:focus-within {
            border-bottom: 2px solid $light-blue;
            transition: all 0.2s ease-in;
        } 
    } 
}

// About me section 

.about-container {
    display: flex;
    justify-content: space-between;
    padding-top: 200px;
    height: 90vh;
}

.shred {
    display: flex;
    

    img {
        width: 20%;
        color: #fff;
    }
}

.mugshot {
    width: 50%;
    height: 200px;
    margin: 20px
}

.about-me {
    width: 50%;
    line-height: 1.5;
    margin: 20px;

    h2 {
        margin-bottom: 20px;
    }
}

// Skills section

.skills {
    padding-top: 40px;
    width: 60%;
    margin: 0 auto;
    border: 8px solid #fff;
    border-radius: 30px;

    h2 {
        text-align: center;
    }
}

.skills ul {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 5rem;
    padding: 20px 0 30px;
    

    li {
        margin: 20px;
        width: 90px;
        height: 90px;
        line-height: 90px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.html {
    background: $red;
}

.css {
    background: $light-blue;
}

.js {
    background: $purple;
}

.react {
    background: $dark-grey;
}

.jquery {
    background: $yellow;
}

.sass {
    background: $blue;
}

.github {
    background: $lime;
}

.firebase {
    background: $brown;
}

// Work section

.work {
    padding-top: 150px;

    h2 {
        text-align: center;
        padding-bottom: 100px;
    }
}
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 40px;
}

.links {
    display: flex;
}

.links a {
    width: 125px;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    font-family: "Helvetica Neue", sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
    margin-right: 30px;
    margin-bottom: 20px;
    transition: all 0.2s ease-in-out;
    background: $dark-grey;

    &:hover, 
    & :focus-within {
        transform: scale(0.9);
    }
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: $dark-grey;
    

    div {
        width: 80%;
        border: $border;
        border-radius: 10px;
        line-height: 0.75;
    }
}

.display:hover, 
.display:focus-within {
    opacity: 1;
}


.description ul{
    display: flex;
    // justify-content: space-between;
    font-size: 2.5rem;
    
    li {
        width: 50px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        text-align: center;
        margin-right: 15px;
    }
}

.html-2 {
    background: $red;
}

.sass-2 {
    background: $blue;
}

.css-2 {
    background: $light-blue;
}

.react-2 {
    background: $dark-grey;
}

.firebase-2 {
    background: $brown;
}

.js-2 {
    background: $purple;
}

.mobile {
    background: $orange;
}

.github-2 {
    background: $lime;
}

// Contact Styles

.contact-container {
    margin-top: 150px;
}

.contact h2 {
    text-align: center;
}
.contact ul {
    justify-content: center;
    
    li {
        margin: 20px;
    }
}