@media (max-width: 1080px) {
    .skills-container {
        width: 86%;
    }

    .projects {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(8, 0fr);
    gap: 4rem;
    grid-template-areas: 
        "seven"
        "eight"
        "one"
        "two"
        "three"
        "four"
        "five"
        "six";
    }

    .one {
        grid-area: one;
    }
    .two {
        grid-area: two;
    }
    .three {
        grid-area: three;
    }
    .four {
        grid-area: four;
    }
    .five {
        grid-area: five;
    }
    .six {
        grid-area: six;
    }
    .seven {
        grid-area: seven;
    }
    .eight {
        grid-area: eight;
    }

    .description {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 0;

        h3, p, ul {
            padding-bottom: 30px;
            width: 90%;

            li {
                margin-top: 10px;
            }
        }
    }

    .links a {
        margin: 20px 10px;
    }

    form {
        width: 100%;
        padding: 30px 0;
    }
}

@media (max-width: 1018px) {
    .flex-head {
        justify-content: flex-start;
    }

    .scroll{
        justify-content: flex-end;

        a {
            margin: 0;
        }
    }
}

@media (max-width: 1004px) {
    .about-container {
        padding-top: 50px;
    }

    .about-me {
        width: 100%;
    }

    .mugshot {
        width: 50%;
    }
    .split {
        flex-direction: column;
    }
}

@media (max-width: 580px) {
    .flex-head h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    .scroll a {
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 2.5rem;
    }

    .hamburger {
        display: flex;
        position: fixed;
        top: 0;
        right: 50px;
        font-size: 3rem;
    }

    .navbar {
        display: none;
        position: fixed;
        top: 48px;
        margin-left: 20px;
        background: $light-blue;
        border-radius: 5px;
        padding: 0 3px;
        // transition: all 0.3s ease;
    }

    .navbar li h3 {
        font-size: 1.6rem;
        margin: 3px;
        cursor: pointer;
    }

    .navbar li i {
        display: none;
    }

    .navbar li::before {
        background: none;
    }


    .open {
        display: flex;
        padding-top: 5px;
        font-size: 2rem;
    }

    .mugshot {
        width: 70%;
    }

    .skills, .work {
        padding-top: 70px;
    }

    .work h2 {
        padding-bottom: 30px;
    }

    .contact-container {
        padding-top: 30px;
    }

    .contact-me {
        width: 90%;

        .my-email {
            font-size: 1.5rem;
        }
    }

    .contact-me p {
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .contact-me ul {
        width: 100%;
    }

}

@media (max-width: 375px) {
    .navbar {
        margin-left: 5px;
    }

    .hamburger {
        right: 30px;
    }

    .skills-container ul {
        font-size: 4rem;
    
        li {
            margin: 20px;
            width: 65px;
            height: 65px;
            line-height: 65px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}
