$green: #00933c;
$blue: #0039a6;
$light-blue: #00add0;
$purple: #b933ad;
$red: #ee352e;
$yellow: #fccc0a;
$orange: #ff6319;
$light-grey: #a7a9ac;
$dark-grey: #808183;
$brown: #996633;
$lime: #6cbe45;
$black: #121212;
$border: 8px solid lighten(#fff, 2%);

